.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.content {
  background-color: #64317b;
  padding: 40px;
  color: whitesmoke;
  flex-grow: 1;
}

.content h1 {
  margin-bottom: 40px;
}

.nav {
  display: flex; /* Add this to create a flex container for the nav items */
  text-align: end;
}

.background-image {
  position: relative;
  overflow: hidden;
}

.project-title {
  display: none;
  position: absolute;
  bottom: 32px;
  right: 32px;
  gap: 16px;
}

.background-image:hover .project-title {
  display: flex;
}

.project-title a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.project-title {
  background-color: rgb(179, 81, 189);
}

.project-description {
  display: none;
  color: black;
  background-color: rgb(179, 81, 189);
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 5px;
}

.background-image:hover .project-description {
  display: block;
}